deepspeed==0.10.3
einops==0.4.1
torch==2.0.1
torchvision==0.15.2
huggingface_hub==0.17.3
transformers==4.31.0
matplotlib==3.7.1
numpy==1.18
open3d==0.17.0
packaging==23.2
peft==0.4.0
Pillow==10.0.1
pycocotools==2.0.6
Requests==2.31.0
scikit_learn==1.2.0
scipy==1.11.3
tqdm==4.64.1
flash_attn==2.3.0
accelerate==0.20.3